body{
    background-color: rgba(132, 226, 243, 0.993);
   
}
#logo{
    min-width: 30px;
    max-width: 130px;
}
button{
    background-color: blue;
    margin-left: 10px;
    color: aliceblue;
    border-radius: 5px;
    min-width: 40px;
    max-width: 80px;
}
.topo{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 550px;
    float: right;
}
.menu ul li{
    display: inline-block;
    color: black;
    margin-left: 30px;
    height: 50px;
    justify-content: flex-end;   

}
ul{
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}

#b2{
    background-color: blue;
    border-bottom: 10px;
    margin-left: 10px;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    min-width: 300px;
    max-width: 350px;
   
}
.container{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;


}
.twitter{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: flex-end;
    
}
img{
    min-width: 30px;
    max-width: 30px;
}
.cx{
    background-color: rgb(129, 191, 206);
    height: 230px;
    width: 300px;
    padding: 10px;
}

    
